@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;1,400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-image: url(img/organicwhite.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: rgb(252, 0, 0);
    transition: color 0.3s ease;
}

a:hover{
    color: black;
}

span{
    margin: 15px;
}

footer{
    background-color: #202124;
    padding: 16px;
    margin-top: 16px;
}

footer p{
    text-align: center;
    color: white;
}

.spanteste a{
    color: rgb(3, 3, 3);
    font-weight: 500;
    
}

.divisor{
    border: none; 
    height: 1.5px; 
    background-color: #202124; 
    width: 770px;
    max-width: 100%;
    margin: 20px auto 20px auto;
}

.navbar{
    top: 0;
    transition: top 0.3s;
}

.navbar-nav {
    display: flex;
    align-items: center; 
    list-style-type: none;
    margin-left: auto;
}

.navbar-brand, .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: rgb(252, 0, 0);
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: #ffffff;
}
.container-fluid{
    background-color: #202124;
    font-size: 20px;

}

.navbar-brand {
    margin-right: 16px;
}

.container-fluid img {
    width: 100%;
    max-width: 65px;

}

.container-fluid img{
    width: 100%;
    max-width: 65px;
    margin: 0px 16px;

}

.navbar-nav, .container-fluid{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: center;
    filter: grayscale(100%) brightness(0) invert(1);
}

.redes img {
    width: 25px;
    max-width: 100%;
    margin: 10px 10px;
}

.intro{
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #ff6f6f;
    padding: 35px;
    border: #fc4c4c 3px solid;

}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    margin: 16px;
    text-align: justify;
}

.inicio > h1{
    text-align: center;
    margin: 16px;
}

.inicio > p{
    text-align: justify;
}

.inicio {
    width: 800px;
    max-width: 100%;
    margin: auto;

}

#imgPortifolio{
    width: 770px;
    max-width: 100%;
}

.imgIntro{
    width: 200px;
    max-width: 100%;
    margin: auto;
}


.introducao >  h2{
    color: #fc2e2e;
}

.introducao > h1{
    color: black;
    margin: 10px;
}


.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: 100%;
    margin: auto;
    font-style: italic;
}

.imagem-link {
    text-align: center;
    margin: 16px;
}

.fotoHtml{
    max-width: 100%;
}

.inicio h2 {
    text-align: center;
    margin: 16px;
}

.titulo{
    margin-left: 15px;
    
}

.subtitle{
    text-align: center;
    margin-right: 620px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.imagemCalc{
    width: 770px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 450px){
    .introducao{
        height: 100%;
        justify-content: flex-start;
    }

    .introducao > h1{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .introducao > h2{
        margin-top: 10px;
    }

    .imgIntro{
        width: 280px;
        margin: 190px 0px;
        margin-bottom: 80px;
        margin-top: 100px;
    }

    #imgPortifolio{
        content: url(img/projeto-pizza-mobile.png);
        height: 70vh;
    }


}

